.navbar {
    background-color: #1d26a2;
    margin-bottom: 4vh;
}

#logo-name {
    display: block;
    color:red;
    margin-left: 4px;
    padding: 0;
}
#nav-border{
    border-bottom: 1px solid red;
}

#nav-border a {
    margin: 0; 
}
#logo{
   height: 10vh;
    margin: 0 2vw 0 10vw;
}

#nav-color {
    color: red;
    font-size:25px;
}

@media only screen and (min-width: 990px) {
    #nav-color {
        font-size:20px;
    }

    #logo {
        height: 10vh;
         margin: 0 2vw 0 2vw;
     }

     #logo-name {
        display: none;
     }
  }



