.navbar {
    background-color: #f2de02;
}

#nav-border{
    border-bottom: 2px solid black;
}
#brand-color {
    color: red;
    font-size: xxx-large; 
    /* needs key frame mobile small font size to big */
}

#nav-color {
    color: red;
}

